<div class="example-full-width">
	<table class="example-full-width">
		<tr>
			<td style="width:160px">
				<button mat-icon-button matTooltip="Export temperature log to csv" (click)="ws.download_temperature_log()"><span class="fas fa-download"></span></button>
				<button mat-button matTooltip="Measure current temperature" (click)="ws.measure_current_temperature()"><span class="fas fa-thermometer-half"></span> (<span style="width:80px;text-align:right">{{ws.current_temperature}}</span>)</button>

			</td>
			<td>
				<mat-slider class="example-full-width" matTooltip="Target temperature" min="20" max="600" step="1" thumbLabel [(ngModel)]="ws.current_target" (change)="ws.target(ws.current_target)" [disabled]="!ws.canChangeTarget()"></mat-slider>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<canvas baseChart width="900" height="400"
						[datasets]="ws.readings.readings"
						[labels]="ws.readings.times"
						[options]="lineChartOptions"
						[colors]="lineChartColors"
						[legend]="lineChartLegend"
						[chartType]="lineChartType"></canvas>
			</td>
		</tr>
	</table>
</div>
