<mat-tab-group>
	<mat-tab label="About ESP Reflow">
		<h1>What is ESP Reflow ?</h1>
		<p>ESP Reflow is a wireless SMT Reflow controller capable controlling an oven or a hot plate.</p>
		<h1>Credits</h1>
		<ul>
		<li>It is built using ESP-12 module with Arduino framework at it's core.</li>
		<li>WebUI is powered by Angular using Material.</li>
		<li>Firmware code is on <a href="https://github.com/foxis/ESPReflow">GitHub</a></li>
		<li>Favicon downloaded from <a href="https://creativemarket.com/BomSymbols">www.iconfinder.com/icons</a></li>
	</ul>
	</mat-tab>
	<mat-tab label="License">
		<pre>{{license}}</pre>
	</mat-tab>
	<mat-tab label="3rd Party Licenses">
		<pre>{{thirdPartyLicense}}</pre>
	</mat-tab>
</mat-tab-group>
