<form class="example-form">

	<mat-form-field class="example-full-width">
		<input matInput [(ngModel)]="configs.hostname" name="hostname" placeholder="Reflow station name" required>
  </mat-form-field>
	<mat-form-field class="example-full-width">
		<input matInput [(ngModel)]="configs.user" name="user" placeholder="User name for UI">
	</mat-form-field>

		<div fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column" fxFlexFill>
			<div fxFlex="50">
				<mat-form-field class="example-full-width">
					<input matInput type="password" [(ngModel)]="configs.otaPassword" name="otaPassword" placeholder="OTA Password">
				</mat-form-field>
			</div>
			<div fxFlex="50">
				<mat-form-field class="example-full-width">
					<input matInput type="password" [(ngModel)]="configs.otaPassword_confirm" name="otaPassword-confirm" placeholder="Repeat OTA Password">
				</mat-form-field>
			</div>
		</div>

		<div fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column" fxFlexFill>
			<div fxFlex="50">
				<mat-form-field class="example-full-width">
				<input matInput type="password" [(ngModel)]="configs.password" id="password" name="password" placeholder="Password for UI">
			</mat-form-field>
			</div>
			<div fxFlex="50">
				<mat-form-field class="example-full-width">
				<input matInput type="password" [(ngModel)]="configs.password_confirm" id="password-confirm" name="password-confirm" placeholder="Repeat Password for UI">
			</mat-form-field>
			</div>
		</div>

		<div fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column" fxFlexFill>
			<div fxFlex="50">
				<p>Temperature measuring interval, ms</p>
				<mat-slider name="measureInterval"
		        class="example-full-width"
		        max="1000"
		        min="250"
		        step="10"
		        thumbLabel
		        tick-interval="100"
		        [(ngModel)]="configs.measureInterval">
		    </mat-slider>
			</div>
			<div fxFlex="50">
				<p>Temperature report interval, ms</p>
				<mat-slider name="reportInterval"
		        class="example-full-width"
		        max="10000"
		        min="500"
		        step="100"
		        thumbLabel
		        tick-interval="1000"
		        [(ngModel)]="configs.reportInterval">
		    </mat-slider>
			</div>
		</div>

	<mat-card>
		<mat-card-header>
			<button mat-button color="primary" (click)="addWifi('')"><span class="fas fa-plus"></span> Add WiFi Network</button>
		</mat-card-header>
		<mat-card-content>
				<div *ngFor="let wifi of configs.networks; let i = index" fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column" fxFlexFill>
					<div fxFlex="46">
						<mat-form-field class="example-full-width">
						<input matInput name="ssid{{wifi.id}}" [(ngModel)]="wifi.ssid"  placeholder="SSID" required>
					</mat-form-field>
					</div>
					<div fxFlex="46">
						<mat-form-field class="example-full-width">
						<input matInput type="password" name="psk{{wifi.id}}" [(ngModel)]="wifi.passw" placeholder="WiFi Password">
					</mat-form-field>
					</div>
					<div>
						<button mat-icon-button color="accent" (click)="removeWifi(i)" matTooltip="Remove WiFi from list"><span class="fas fa-trash-alt"></span></button>
					</div>
				</div>
		</mat-card-content>
	</mat-card>
	<div>&nbsp;</div>
	<div class="form-row">
			<button mat-button color="primary" (click)="save()" [disabled]="!canSave()"><span class="fas fa-upload"></span> Save config</button>
			<button mat-button color="" (click)="load()"><span class="fas fa-download"></span> Reload config</button>
			<button mat-button color="accent" (click)="reboot()" [disabled]="!canReboot()"><span class="fas fa-sync"></span> Reboot</button>
	</div>
</form>
