
.example-toolbar {
	position: fixed;
	z-index: 2;
	height: 38px;
}

.example-is-mobile .example-toolbar {
	position: fixed;
	height: 38px;
	z-index: 2;
}

mat-sidenav {
  width: 160px;
}
h1.example-app-name {
	margin-left: 1px;
	font-size: 12pt;
}

.example-sidenav-container {
	/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
		 causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
	flex: 1;
}

.example-is-mobile .example-sidenav-container {
	/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
		 `<body>` to be our scrolling element for mobile layouts. */
	flex: 1 0 auto;
}

.example-footer {
	background-color: #3f51b5;
  border-top: 1px solid #bbb;
  text-align: center;
	font-size: 10pt;
	flex: 1;
	color: white;
	vertical-align: center;
}

.example-footer a {
	color: white;
}

.example-footer h1 {
	font-size: 16pt;
}

.example-content {
	flex: 1 1 auto;
	padding: 20px;
}
