<main>
<mat-toolbar color="primary" class="example-toolbar" fullscreen>
	<div class="example-spacer"></div>
	<app-nav-bar (toggle)="start.toggle()" [isMobile]="mobileQuery.matches"></app-nav-bar>
	<div class="example-spacer"></div>
</mat-toolbar>
<div style="height:38px"></div>
<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #start [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches" fixedTopGap="38"
							 [opened]="!mobileQuery.matches">
    <mat-nav-list>
			<a mat-list-item routerLink="/graph" (click)="closeSideNav(start)">
				Graph
				<span class="example-spacer fas fa-chart-bar"></span>
			</a>
			<a mat-list-item routerLink="/profiles" (click)="closeSideNav(start)">
				Profiles
				<span class="example-spacer fas fa-file"></span>
			</a>
			<a mat-list-item routerLink="/setup" (click)="closeSideNav(start)">
				Setup
				<span class="example-spacer fas fa-cogs"></span>
			</a>
			<a mat-list-item routerLink="/about" (click)="closeSideNav(start)">
				About
				<span class="example-spacer fas fa-info-circle"></span>
			</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
		<div class="example-content">
    	<div><router-outlet></router-outlet></div>
			<div><br><br></div>

			<div>
			  <mat-tab-group>
					<mat-tab label='INFO'>
						<app-messages [filter]="'INFO'"></app-messages>
					</mat-tab>
					<mat-tab label='DEBUG'>
						<app-messages [filter]="'DEBUG'"></app-messages>
					</mat-tab>
					<mat-tab label='ALL'>
						<app-messages [filter]="'ALL'"></app-messages>
					</mat-tab>
				</mat-tab-group>
			</div>
		</div>

  </mat-sidenav-content>
</mat-sidenav-container>
</main>
<footer class="example-footer">
	<table class="example-full-width">
		<tr>
			<td>
				<h1 class="title">ESP Reflow SMT Soldering Controller</h1>
			</td>
			<td>
				<div>
					<h1>Powered by: </h1>
					<span><a href="https://www.espressif.com/en/products">ESP8266</a></span>
					<span><a href="https://www.arduino.cc">Arduino</a></span>
					<span><a href="https://platformio.org">PlatformIO</a></span>
					<span><a href="https://angular.io">Angular</a></span>
					<span><a href="https://material.angular.io">Material</a></span>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="background-color:#2f41a5">
				© 2018 Copyright: <a href="https://www.--.com"> Andrius Mikonis </a>
				&nbsp;&nbsp;&nbsp;
				Licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL v3.0</a>
			</td>
		</tr>
	</table>
</footer>
