
.example-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 10px;
	bottom: 0;
	left: 0;
	right: 0;
}
mat-sidenav {
  width: 200px;
}
.example-is-mobile .example-toolbar {
	position: fixed;
	/* Make sure the toolbar will stay on top of the content as it scrolls past. */
	z-index: 2;
}

h1.example-app-name {
	margin-left: 1px;
	font-size: 12pt;
}

.example-sidenav-container {
	/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
		 causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
	flex: 1;
}

.example-is-mobile .example-sidenav-container {
	/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
		 `<body>` to be our scrolling element for mobile layouts. */
	flex: 1 0 auto;
}

footer {
  background-color: primary;
  border-top: 1px solid #bbb;
  text-align: center;
	position: relative;
	font-size: 10pt;
}

footer a {
	color: white;
}

footer h1 {
	font-size: 16pt;
}

.example-content {
	flex: 1 1 auto;
	padding: 20px;
}
